.RollDice{
	padding-top: 5em;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.RollDice-container {
	display: flex;
	justify-content: center;
	align-content: center;
}


.RollDice button {
	align-self: center;
	width: 18em;
	padding: 2.0em;
	border: 0px;
	border-radius: 10px;
	color: white;
	background-color: black;
	margin-top: 3em;
}

.RollDice button:hover{
	background-color: darkslateblue;
	cursor: pointer;
}